@media (max-width: 1100px) {
    .header__logo {
        padding-right: 120px;
    }
    .message__form {
        padding-top: 30px;
    }
}

@media (max-width: 1022px) {
    .header__logo {
        padding-right: 100px;
    }
    .team__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1002px) {
    .header__logo {
        padding-right: 90px;    
    }
    .gallery__images {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__center {
        grid-column: span 1;
        grid-row: span 1;
    }
    .gallery__block:last-child {
        grid-column: span 2;
        grid-row: span 1;
    }
    .gallery__text {
        font-size: 150px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
    }
    .testimonials__header {
        font-size: 150px;
    }
}

@media (max-width: 992px) {
    .menu__lists {
        gap: 10px 20px;
    }
    .testimonials__header {
        font-size: 100px;
    }
}

@media (max-width: 932px) {
    .menu__lists {
        gap: 10px 15px;
    }
    .keypoints__blocks {
        column-gap: 30px;
    }
}

@media (max-width: 902px) {
    .menu__lists {
        gap: 10px 10px;
    }
    .ourmission__wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }
    .ourmission__description {
        max-width: 900px;
    }
    .ourmission__description > *:not(:last-child) {
        padding-bottom: 33px;
    }
    .about__content {
        flex-wrap: wrap;
        gap: 50px;
    }
    .keypoints__blocks {
        column-gap: 15px;
    }
    .news__elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 872px) {
    .header__logo {
        padding-right: 60px;
    }
    .main__content-title {
        font-size: 50px;
    }
    .menu__lists {
        display: none;
    }
    .header__burger-menu {
        display: block;
    }
    .keypoints__block-heading {
        font-size: 20px;
    }
}

@media (max-width: 820px) {
    .message__form {
        grid-template-columns: 1fr;
    }
    .message__form-field:nth-child(3) {
        grid-column-start: span 1;
}
    .contacts__wrapp {
        display: block;
    }
}

@media (max-width: 800px) {
    .keypoints__blocks {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 58px;
        row-gap: 58px;
     }
     .keypoints__block:nth-child(3) {
        grid-column-start: span 2;
    }
    .team__gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-start: 2;
    }
    .news__elements {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__images {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__center {
        grid-column: span 1;
        grid-row: span 1;
    }
    .gallery__block:last-child {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 630px) {
    .testimonials__header {
        font-size: 70px;
    }
    .footer__navigation {
       grid-template-columns: repeat(2, 1fr);
       row-gap: 30px;
       text-align: center;
    }
    .footer__contacts {
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .about_heading{
        font-size: 120px;
    }
    .gallery__text {
        font-size: 120px;
    }
    .keypoints__blocks {
        grid-template-columns: 1fr;
        row-gap: 58px;
    }
    .keypoints__block:nth-child(3) {
        grid-column-start: span 1;
    }
    .testimonials__header {
        font-size: 50px;
    }   
}

@media (max-width: 517px) {
    .works__button {
        flex: 1 1 auto;
    }
}

@media (max-width: 390px) {
    .header__logo {
        padding-right: 30px;
    }
    .main__content-title {
        font-size: 30px;
    }
    .about_heading{
        font-size: 100px;
    }
    .gallery__text {
        font-size: 100px;
    }
    .footer__navigation {
        grid-template-columns: repeat(1, 1fr);
     }
}

@media (max-width: 360px) {
    .main__content-button {
        display: flex;
        flex-wrap: wrap;
    }
    .main__content-buttons > *:not(:last-child) {
        gap: 20px;
    }
    .gallery__text {
        font-size: 70px;
    }
}

@media (max-width: 344px) {
    .main__content-button {
       padding-bottom: 10px;
    }
    .about_heading{
        font-size: 95px;
    }
}