*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background: #FFFFFF;
    z-index: 100;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    padding: 0 15px;
}

.header__wrapper {
    background: #FFFFFF;
    max-width: 1100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header__logo {
    margin: 0 86px;
    font-style: normal;
    padding-right: 210px;
    font-weight: 700;
    font-size: 28px;
    color: #222222;
}

.menu__lists {
    gap: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

.menu__list {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #222222;
    cursor: pointer;
}

.menu__list:hover {
    color: #FD8558;
}

.main__block-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -3;
}

.main__content {
    max-width: 630px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.main__content-title {
    font-style: normal;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    text-align: center;
    z-index: 0;
}

.main__content-button {
    min-width: 158px;
    padding: 14px 39px;
    background: inherit;
    border: 2px solid #FD8558;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}

.main__content-button:hover {
    background: #FD8558;
}

.main__content >*:not(:last-child) {
    padding-bottom: 41px;
}

#menu__toggle {
    opacity: 0;
}

.header__menu-btn {
    display: flex;
    position: flex;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.header__menu-btn >span,
.header__menu-btn >span::before,
.header__menu-btn >span::after{
    display: block;
    position: absolute;
    width: 26px;
    height: 100%;
    height: 2px;
    right: 10px;
    background-color: #999999;
}

.header__menu-btn > span::before {
    content: "";
    top: -8px;
    right: 0px;
}

.header__menu-btn > span::after {
    content: "";
    top: 8px;
    right: 0px;
}

.header__burger-menu {
    display: none;   
}

.burger__list {
    position: relative;
    text-align: right;
    right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #222222;
    cursor: pointer;
}

.burger__list:not(:last-child){
    padding-bottom: 15px;
}

.burger__list:hover {
    color: #FD8558;
}

.header__burger-menu-lists {
    position: absolute;
    background: #FFFFFF;
    height: 250px;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    transform:  translate(0, -500%);
    transition: transform 0.5s ease-out;
    z-index: -1;
}

#menu__toggle:checked ~ .header__burger-menu-lists {
    transform: translate(0, 0);
    
}

#menu__toggle:checked ~ .header__menu-btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .header__menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .header__menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

.main__about {
    padding: 15px;
    background: #FFFFFF;
}

.about_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    color: #F7F7F7;
}
.about__content {
    display: flex;
    gap: 105px;
}

.content__right-text {
    height: 15px;
    color: #FD8558;
    padding-top: 44px;
}

.content__right-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #333333;
}

.about__content-right {
    max-width: 480px;
}

.about__content-left {
    max-width: 591px;
}

.content__left-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.ourmission__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.ourmission__description > *:not(:last-child) {
padding-bottom: 93px;
}

.about__ourmission {
    padding-top: 58px;  
}

.ourmission_image img {
    width: 100%;
    object-fit: cover;
}

.ourmission_image {
    width: 100%;
}

.ourmission__description {
    max-width: 387px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 26px;
    color: #222222;
}

span.marked__text {
    color: #FD8558;
    font-style: italic;
}


.description__sign-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #222222;
}

.description__sign-jobtitle {
    font-style: normal;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #CACACA;
}

.description__sign >*:not(:last-child) {
    padding-bottom: 20px;
}

.keypoints {
   padding: 58px;
}

.keypoints__blocks {
   display: grid;
   grid-template-columns: repeat(3, auto); 
   justify-content: center;
   column-gap: 58px;
}

.keypoints__block {
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.keypoints__block > *:not(:last-child) {
 padding-bottom: 20px;
}

.keypoints__block-heading {
    font-size: 24px;
    color: #333333;
}

.keypoints__block-text {
    font-size: 15px;
    color: #999999;
}

.creativity__footer {
    padding-top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.creativity__strip {
    height: 2px;
    width: 100%;
    background: #F5F5F5;
}
.creativity__circle {
    width: 180px;
    height: 80px;
    border-radius: 50%;
    background: rgba(253, 133, 88, 0.2);
}

.wrapper__works {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.works__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

.works__subtext {
    max-width: 312px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #333333;
}

.works__button {
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #FD8558;
    border: none;
    border-radius: 0px;
    padding: 13px 37px;
    bottom: 10px;
}

.gallery__text {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-align: right;
    color: #F7F7F7;
}

.gallery__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__center {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery__block {
    position: relative;
}

.gallery__block-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40px;
    padding: 47px 40px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0px;
    column-gap: 49px;
    align-items: center;
}

.checkbox_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
}

.custom-checkbox>input {
    width: 46px;
    height: 46px;
}
  
.skills {
    padding: 70px 0;
}

.wrapper__skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.skills__content {
    max-width: 500px;
}

.skills__progressbar{
    flex: 1 1 auto;
}

.progressbar__block-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.skills__content-skills {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

.skills__content-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

.skills__content-subtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
}

.progressbar__block-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #222222;     
}

.progressbar__block-complete {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.progressbar__block-input {
    width: 100%;
    -webkit-appearance: none;
    background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%);
    border-radius: 0px;
}

.progressbar__block-input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
}

.progressbar__block >*.burger__list:not(:last-child) {
    padding-bottom: 45px;
}

.ourteam {
    bottom: 10px;
    padding-bottom: 115px;
}

.team__content{
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.team__content-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

.team__content-subheading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #222222;
}

.team__item {
    position: relative;
    cursor: pointer;
}

.team__item-block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.team__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}

.team__gallery img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0;
}

.team__item img {
    transition: all 0.3s ease 0s;
}

.team__item:hover img {
    transform: scale(1.1);
}

.team__block-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.team__block-subtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FCFCFC;
}

.team__button-wrapper{
    text-align: center;
    margin-top: 80px;
}

.team__button {
    padding: 13px 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    background: #FD8558;
    color: #FFFFFF;
    border: none;
}

.testimonials {
    background: #3A0F73;
    padding: 70px 0;
}

.testimonials__content {
    text-align: center;
    padding-bottom: 215px;
}

.testimonials__header {
    padding-top: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    color: rgba(170, 170, 170, 0.1);
}

.testimonials_desc {
    max-width: 824px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 64px;
}

.testimonials__person {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials__person-block {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.news__wrapper {
    text-align: center;
    padding-bottom: 115px;
}

.news__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
    padding-bottom: 45px;
    padding-top: 122px;
}

.news__subheader {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #222222;
    padding-bottom: 26px;
}

.news__elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.news__elements img {
    width: 100%;
}

.news__note-date {
    left: 0;
    display: flex;
    justify-content: left;
    gap: 15px;
    padding-bottom: 20px;
}

.hashtag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
}

.date{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

.news__note-header {
    display: block;
    padding-bottom: 36px;
    left: 0;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    padding-bottom: 36px;
}

.news__note-more {
    display: block;
    bottom: 0;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
}

.dot {
    height: 5px;
    width: 5px;
    top: calc(50% - 5px/2);
    align-items: center;
    background: #DFDEDE;
}

.contacts__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 120px;
}

.contacts__adress-address{
    padding-bottom: 45px;
}

.contacts__address-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(34, 34, 34, 0.4);
}

.contacts__address-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
}

.message__form {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
    padding-bottom: 82px;
}

.message__form-field:nth-child(3) {
    grid-column-start: span 2;
}

.your_name {
    max-width: 338px;
    height: 58px;
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.your_mail {
    max-width: 338px;
    height: 58px;
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.your_message{
    max-width: 750px;
    height: 128px;
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.Send__button {
    display: block;
    width: 192px;
    height: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #FD8558;
    border: none;
}

.footer {
    background: #111111;
    border-radius: 0px;
}

.footer__navigation {
    padding-top: 93px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: center;
}

.footer__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer__email {
    display: flex;
    gap: 10px;
}

.footer__email-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer__navigation-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 19px;
}

.footer__menu-list {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BABABA; 
    cursor: pointer;
}

.copyright{
    padding-top: 70px;
    padding-bottom: 80px;
}

.copyright__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #BABABA;
}

span.marked__copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}