@font-face {
  font-family: 'Quattrocento', serif;
  src: url(../fonts/Quattrocento-Regular.ttf);
}

 
.modal_window {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
  position: absolute;
  left: 35%;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  overflow: auto;
  z-index: 11;
  transform: translate(0, -500%);
  transition: transform 0.3s ease-out;
}
 
.modal:target .modal_window {
  transform: translate(0, 0);
  top: 20%;
  }

.wrap {
  padding: 40px;
  text-align: center;
  }
      
.modal_open-button {
  background: rgb(46, 204, 114);
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
  position: relative;
  transition: color .1s ease;
  }

.modal_close-button {
  height: 18px;
  width: 18px;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
  position: absolute;
  right: 5px;
  top: 5px;
  }
  
  .modal_close-button:hover {
  transition: .3s;
  transform: scale(1.3, 1.3);
  }

.modal_Accept-button {
  display: inline-block;
  position: relative;
  left: 300px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: 'Quattrocento', serif;
  border: none;
  color: white;
  border-radius: 3px;
  background: rgb(46, 204, 114);
  cursor: pointer;
}

.modal_Accept-button:hover {
  background: rgb(41, 182, 102);
  }

.modal_Decline-button {
  display: inline-block;
  position: relative;
  left: 300px;
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: 'Quattrocento', serif;
  border: none;
  color: white;
  border-radius: 3px;
  background: rgb(231, 77, 61);
  cursor: pointer;
}

.modal_Decline-button:hover {
  background:  rgb(182, 60, 47);
  }
 
.modal-header {
  margin: 0 0 15px;
  font-family: 'Quattrocento', serif;
}

.modal-body {
  font-family: 'Quattrocento', serif;
}